$load-width: 400px;
$load-height: 100px;
$arise-animation-speed: 1000ms;
$dot-size: 10px;

#arise-overlay {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: coral linear-gradient(45deg, #FF8E8E, #F5A94C, #E0C15B);
  opacity: 0.7;
  filter: alpha(opacity=70);
}

#arise {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 9999998;

  .arise-content {
    z-index: 9999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px 107px;
    background: #fff;
    border-radius: 100px;
    text-align: center;
    width: 640px;

    .title {
      margin: 0;
      text-transform: uppercase;
      font-size: 2em;
      color: #fba283;
    }

    p {
      font-size: 1em;
      color: #464646;
      margin-bottom: 0;
    }
  }

  .arise-dots {
    width: 16%;
    height: 20px;
    margin: 20px auto 0;
  }
}

@mixin arise-animation($delay: 0ms) {
  animation: fx $arise-animation-speed ease infinite $delay;
}

.arise-dot {
  width: $dot-size;
  height: $dot-size;
  border: ($dot-size / 5) solid white;
  border-radius: 50%;
  float: left;
  margin: 0 ($dot-size / 2);
  transform: scale(0);

  @include arise-animation();

  &:nth-of-type(2) {
    @include arise-animation($arise-animation-speed * 0.3);
  }

  &:nth-of-type(3) {
    @include arise-animation($arise-animation-speed * 0.6);
  }
}

@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
